.root {
    -fx-font: 1.2em Arial;
}

Region.svg-icon {
    -icon-size: 18px;

    -fx-background-color: -icon-paint;
    -fx-min-height: -icon-size;
    -fx-min-width: -icon-size;
    -fx-max-height: -icon-size;
    -fx-max-width: -icon-size;
}